body    {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header  {
    display: inline-block;
}
header #list_all_user   {
    align-self: flex-end;
}

table.table-striped {
    background-color: lightblue;
}

h3{
    align-self: center;
}

footer  {
    justify-content: center;
}