<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="form-group" style="padding: 10px">
    <h1 align="center">Add New Question:</h1><br>
    <form method="POST" action="{{ url_for("add_question") }}">
        <label for="title"> Title</label><br>
        <input id="title" type="text" name="title" size="80" minlength="5" required><br>
        <label for="message"> Message</label><br>
        <textarea id="message" name="message" rows="5" cols="80" required></textarea><br>
        <label for="image">URL for image</label>
        <input type="text" id="image" name="image">
        <button type="submit">Add New Question</button>
    </form><br>
</div>
<h2><a href='/'> Go back to the homepage</a></h2>
</body>
</html>
