{% extends 'layout.html' %}

{% block content %}
<body>
<div class="form-group" style="padding: 10px">
    <h1 align="center">Add New Question:</h1><br>
    <form method="POST" action="{{ url_for("add_question") }}">
        <label for="title"> Title</label><br>
        <input id="title" type="text" name="title" size="80" minlength="5" required><br>
        <label for="message"> Message</label><br>
        <textarea id="message" name="message" rows="5" cols="80" required></textarea><br>
        <label for="image">URL for image</label>
        <input type="text" id="image" name="image">
        <button type="submit">Add New Question</button>
    </form><br>
</div>
<h2><a href='/'> Go back to the homepage</a></h2>
</body>
{% endblock %}