{% extends 'layout.html' %}

{% block content %}

<div class='container'>
    <h1> {{ question ["title"] }}</h1>
    <h3>Question Message:</h3>
<br>
    <h4 style="background-color: lightyellow">{{ question["message"] }} </h4>

    {% if question['image'] %}
        <h3><a target="_blank" href={{ question['image'] }}>Link to image</a></h3>
    {% endif %}
<br>
<br>
    {% if logged_user != 0 %}
    <h5>Vote Number: </h5>
    <h5><a href="/question/{{ question["id"] }}/up">↥</a>{{ question["vote_number"] }} vote(s) <a
            href="/question/{{ question["id"] }}/down">↧</a></h5>
    {% else %}
    <h5>Vote Number: </h5>
    {{ question["vote_number"] }} vote(s)
    {% endif %}

    {{ question["image"] if image is defined }}


        <table class="table-sm">
        {% if comments %}
        {% for title in comment_header %}
            <th class="text-center">{{ title }}</th>
        {% endfor %}

        {% for comment in comments %}
            <tr>
                <td align="center" style="width: max-content">{{comment['message']}}</td>
                <td align="center" >{{comment['submission_time']}}</td>
                <td align="center" >{{comment['edited_count']}}</td>
                <td align="center">
                {% if logged_user != 0 %}
                <form>
                    <button formaction="/{{ comment['question_id'] }}/comment/{{ comment["id"] }}/delete"> Delete</button>
                </form>
                <td align="center">
                <form>
                    <button formaction="/edit/{{ comment["question_id"] }}/comment/{{ comment["id"] }}"> Edit</button>
                </form></td>
                {% endif %}



            </tr>
        {% endfor %}
        {% endif %}
        {% if logged_user != 0 %}
            <tr><td align="center" colspan="6"><a href="{{ url_for("add_comment_to_question", question_id = question['id']) }}">Add new comment</a></td></tr>
        {% endif %}
        </table>


    {% if answers %}
        <h3>Answers:</h3>
        <table class="table table-striped">
            {% for head in header %}
                <th class="text-center">{{ head }}</th>
            {% endfor %}

            {% for answer in answers %}
                <tr>
                    <td style="width:5%" align="center">{{ answer["id"] }}</td>
                    <td style="width:5%" align="center">{{ answer["submission_time"] }}</td>
                    <td style="width:10%" align="center">
                        {% if logged_user != 0 %}
                            <a href="/question/{{ question['id'] }}/answer/{{ answer["id"] }}/up">↥</a>
                        {{ answer["vote_number"] }} <a href="/question/{{ question['id'] }}/answer/{{ answer["id"] }}/down">↧</a>
                        {% else %}
                            {{ answer["vote_number"] }}
                        {% endif %}
                    </td>
                    <td style="width:60%" align="center">{{ answer["message"] }}</td>
                    <td style="width:20%" align="center">
                        {% if answer['image'] %}
                            <a target="_blank" href={{ answer['image'] }}>Link to image</a>
                        {% endif %}
                    </td>
                    <td style="width:5%" align="center">
                        {% if logged_user != 0 %}
                        <form>
                            <button formaction="/{{ answer['question_id'] }}/answer/{{ answer["id"] }}/delete">Delete
                            </button>
                        </form>
                        <td align="center">
                            <form>
                                <button formaction="/edit/{{ answer["question_id"] }}/{{ answer["id"] }}">Edit</button>
                            </form>
                        </td>
                        {% endif %}
                    {% if answer['accepted'] == True %}
                        <td align="center"> Accepted!</td>
                    {% endif %}
                    {% if answer['accepted'] == False %}
                        <td>
                            <form>
                                <button formaction="/question/{{ answer["question_id"] }}/answer/{{ answer["id"] }}/accept">
                                    Accept
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h5>There are no answer for this question yet.</h5>
    {% endif %}
    {% if logged_user != 0 %}
    <h3><a href="{{ url_for("post_answer", question_id=question["id"]) }}"> Add New Answer</a><br>
        <a href="{{ url_for("edit_question", question_id=question["id"]) }}"> Update Question</a><br>
        <a href="/question/{{ question['id'] }}/delete"> Delete Question</a></h3>
    {% endif %}

{% include 'footer.html' %}
{% endblock %}
