<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   # <title>{{ question["title"] }}</title>
    <style>table, th, td {border: 1px solid black;}</style>
</head>
<body>
<h1> #{{ question ["title"] }}</h1>
    <table style="width:100%">
        <tr>
            {% for item in header %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
            <tr>
                <td align="center">{{ question["id"] }}</td>
                <td align="center">{{ question["submission_time"] }}</td>
                <td align="center">{{ question["view_number"] }} view(s)</td>
                <td align="center">{{ question["vote_number"] }} vote(s)</td>
                <td style="width:15%" align="center">{{ question["title"] }} </td>
                <td style="width:50%" align="center">{{ question["message"] }} </td>
                <td style="width:50%" align="center">{{ question["image"] }} </td>
            </tr>
    <h2><a href='/add-answer'> Add New Answer</a></h2>
</body>
</html>