<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question["title"] }}</title>
    <style>h4, table, td {border: 1px solid black;}</style>
</head>
<body>
    <h1> {{ question ["title"] }}</h1>
        <h3><label>Question Message:</label></h3>
        <h4><p>{{ question["message"] }} </p></h4>
        <h3><p>Vote Number:</p> </h3>
    <h3><p><a href="/question/{{ question["id"] }}/up">↥</a>{{ question["vote_number"] }} vote(s) <a href="/question/{{ question["id"] }}/down">↧</a></p></h3>
        {{ question("image") if image is defined }}

        {% if answers %}
        <h3><p>Answers:</p> </h3>
        <table style="border: 1px solid ">
        {% for head in header %}
            <th>{{ head }}</th>
        {% endfor %}


            {% for a in answers %}
            <tr>
                <td style="width:5%" align="center">{{ a["id"] }}</td>
                <td style="width:5%" align="center">{{ a["submission_time"] }}</td>
                <td style="width:10%" align="center"><a href="/question/{{ question['id'] }}/answer/{{ a["id"] }}/up">↥</a>
                    {{ a["vote_number"] }} <a href="/question/{{ question['id'] }}/answer/{{ a["id"] }}/down">↧</a></td>
                <td style="width:60%" align="center">{{ a["message"] }}</td>
                <td style="width:20%" align="center">{{ a("image") if image is defined}}</td>
                <td style="width:5%" align="center">
                    <form>
                        <button formaction="/{{ a['question_id'] }}/answer/{{ a["id"] }}/delete"> Delete </button>
                    </form>  </td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <h5>There are no answer for this question yet.</h5>
        {% endif %}

    <h3><a href="{{ url_for("post_answer", question_id=question["id"]) }}"> Add New Answer</a><br>
    <a href="{{ url_for("edit_question", question_id=question["id"]) }}"> Update Question</a><br>
    <a href="/question/{{ question['id'] }}/delete"> Delete Question</a></h3>
    <h2><a href='/'> Go back to the homepage</a></h2>
</body>
</html>
