<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <style>table, th, td {border: 1px solid black;}</style>
</head>
<body>
    <h1>Ask Mate</h1>
<h2><a href='/add-question'> Add New Question</a></h2>
    <table style="width:100%">
        <tr>
            {% for item in header %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for question in questions %}
            <tr>
                <td align="center"><a href="/question/{{ question["id"] }}">{{ question["id"] }}</a></td>
                <td align="center">{{ question["submission_time"] }}</td>
                <td style="width:10%" align="center">{{ question["view_number"] }} view(s)</td>
                <td style="width:10%" align="center">{{ question["vote_number"] }} vote(s)</td>
                <td style="width:50%" align="center">{{ question["title"] }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
