{% extends 'layout.html' %} {% block content %}
<div class="container" align="center">
    <h1>Ask Mate</h1>
</div>
<div class="container" align="right">
    <form method="POST" action="{{ url_for(" search_questions ") }}">
        <input id="search" type="text" name="search" size="20">
        <button type="submit">Search</button>
    </form>
</div>
<div class="container" align="center">
    <h2><a href='/add-question'> Add New Question</a></h2>
    <table class="table table-striped">
        <tr>
            {% for item in header %}
            <th class="text-center"><a href="/ordered-list?order_by={{ item }}&order_direction=desc">↧</a> {{ item }}
                <a href="/ordered-list?order_by={{ item }}&order_direction=asc">↥</a>
            </th>
            {% endfor %}
        </tr>
        {% for question in questions %}
        <tr>
            <td align="center">
                <a href="/question/{{ question[" id "] }}"> {{ question["id"] }} </a>
            </td>
            <td align="center">{{ question["submission_time"] }}</td>
            <td align="center">{{ question["view_number"] }} view(s)</td>
            <td align="center">{{ question["vote_number"] }} vote(s)</td>
            <td align="center">{{ question["title"] }} </td>
        </tr>
        {% endfor %}
    </table>
    {% if main_page == 1 %}
    <h3><a href='/list'>List all question</a></h3> {% elif main_page == 0 %} {% include 'footer.html' %} {% endif %}
</div>

{% endblock %}