{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        {% for title in header %}
                            <th colspan="">{{ title }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for user in list_of_users %}
                        <tr>
                            <td>{{ user['user_id'] }}</td>
                            <td>{{ user['user_name'] }}</td>
                            <td>{{ user['date'] }}</td>
                            <td>{{ user['reputation'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

{% endblock %}