{% extends 'layout.html' %}

{% block content %}

    <div class="card-row">
        <form method="POST" action="{{ url_for("registration") }}">
            <label for="user_name">User Name:</label>
            <input type="text" id="user_name" name="user_name">
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
            <button type="submit"> Submit</button>
        </form>
        {% if used_user_name == 1 %}
            <p> Your User name is already used, please choose another one.</p>
        {% endif %}
    </div>
{% include 'footer.html' %}
{% endblock %}